
*{margin: 0;padding: 0;}

body{
	color: #333;
	padding: 0;
	margin: 0;
	font-family: 'Roboto',arial,sans-serif;
}
main{
	height: 100vh;
	width: 100%;
}
.grid{
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-item {
  flex-grow: 1;
  flex-basis: 200px;
  flex-grow: inherit;
  margin-top: 3%;
}
section:nth-child(2){
    margin-top: 35px;
}
h2{
	text-align: center;
}
p span:nth-child(1){
	font-size: 64px;
	color: #212121;
}
a{
  font-size: 15px;
  color: #ff5000;
  text-decoration: none;  
}
img{
	float:left;
	height:64px;
	width:64px
}
span{
    margin-top: 6px;
	font-size: 16px;
}
div.tooltip {   
    position: absolute;         
    text-align: center;         
    width: 60px;                    
    height: auto;                   
    padding: 2px;               
    font: 12px sans-serif;
    color: white;       
    background: rgba(0,0,0,0.8);    
    border: 0px;        
    border-radius: 8px;         
    pointer-events: none;           
}
.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    font-size: 24px;
    shape-rendering: crispEdges;
}
.xAxis,.yAxis{
    font-size: 15px;
}
.dayHigh {
  fill: none;
  stroke: red;
  stroke-width: 2px;
}
.dayLow {
  fill: none;
  stroke: blue;
  stroke-width: 2px;
}
.svg-container {
    display: block;
    position: relative;
    width: 100%;
    max-width: 650px;
    min-width: 350px;
    margin: auto;
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    body{
        margin: 15px;
    }
}
